:root { 
--bluegray_900:#2e2e2e; 
--gray_400:#c4c4c4; 
--gray_500:#a098ae; 
--amber_600:#f8b602; 
--bluegray_900_0c:#2e2e2e0c; 
--red_400:#eb5757; 
--white_A700:#ffffff; 
--gray_300:#dadada; 
--orange_200:#f0c868; 
--gray_100:#f5f5f5; 
}